<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="idv.ron.oogame_poke">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".controller.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".controller.BallHuntActivity" />
        <activity android:name=".controller.PokemonActivity" />
        <activity android:name=".controller.PokemonHuntActivity" />
        <activity android:name=".controller.MainPageActivity" />
        <activity android:name=".controller.RolePageActivity" />
        <!-- <activity android:name=".model.Role"></activity> -->
        <activity android:name=".controller.LogoActivity" />
        <activity android:name=".controller.LastActivity"></activity>
    </application>

</manifest>